<div class="container">
  <div class="row" (mouseenter)="onMouseEnterValue()" (mouseleave)="onMouseLeaveValue()" (click)="onClick()">
    <div class="col-sm">
      <!-- {{ path }} -->
      <a *ngFor="let pathpart of pathParts()" class="pathpart" href="#" (click)="pathpart.action()">/{{ pathpart.name }} </a>
    </div>
    <div class="col-sm">{{ type === 'g' ? '_image_' : editValue }}</div>
    <div class="col-sm" [ngClass]="{editing: clickActivated || hoverActivated}">

      <div [ngSwitch]="type" >
        <!-- integer -->
        <div *ngSwitchCase="'i'">
          <!-- text-field -->
          <input type="number" step="1"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />

          <!-- slider -->
          <div *ngIf="opts['min']!=undefined && opts['max']!=undefined">
            {{opts['min']}}
            <mat-slider
              [min]="opts['min']" [max]="opts['max']" [value]="editValue" step="1"
              (input)="onUserChange(path, $event.value)"
              (change)="onUserChange(path, $event.value)"></mat-slider>
            {{opts['max']}}
          </div>
        </div>

        <!-- float -->
        <div *ngSwitchCase="'f'">
          <!-- text-field -->
          <input type="number" step="0.01"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />

          <!-- slider -->
          <div *ngIf="opts['min']!=undefined && opts['max']!=undefined">
            {{opts['min']}}
            <mat-slider
              [min]="opts['min']" [max]="opts['max']" [value]="editValue" step="0.01"
              (input)="onUserChange(path, $event.value)"
              (change)="onUserChange(path, $event.value)"></mat-slider>
            {{opts['max']}}
          </div>
        </div>

        <!-- string -->
        <div *ngSwitchCase="'s'">
          <input type="text"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />
        </div>

        <!-- bool -->
        <div *ngSwitchCase="'b'" class="switch">
          <!-- <input type="checkbox"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.checked)"
            (change)="onUserChange(path, $event.target.checked)"/> -->
          <mat-button-toggle-group (change)="onUserChange(path, $event.value)" [value]="editValue === undefined ? undefined : editValue.toString()">
            <mat-button-toggle value="false">0</mat-button-toggle>
            <mat-button-toggle value="true">1</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        
        <!-- void (signal)  -->
        <div *ngSwitchCase="'v'" class="switch">
          <button
            (click)="onUserChange(path, null)">{{ path.split('/').pop() }}</button>
        </div>

        <div *ngSwitchCase="'g'">
          Image type not yet supported
        </div>

        <ng-template ngSwitchDefault>Unknown param type ({{type}}) for param: {{path}}</ng-template>
      </div>
    </div>
  </div>
</div>
