
<div class="container">
  <div class="row" (mouseenter)="onMouseEnterValue()" (mouseleave)="onMouseLeaveValue()">
    <div class="col-sm">{{path}}</div>
    <div class="col-sm">{{editValue}}</div>
    <div class="col-sm" [ngClass]="{editing: editModeEnabled}">

      <div [ngSwitch]="type" >
        <!-- integer -->
        <div *ngSwitchCase="'i'">
          <input type="number" [id]="path"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />
        </div>

        <!-- float -->
        <div *ngSwitchCase="'f'">
          <input type="number" step="0.01" [id]="path"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />
        </div>

        <!-- string -->
        <div *ngSwitchCase="'s'">
          <input type="text" [id]="path"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.value)"
            (change)="onUserChange(path, $event.target.value)" />
        </div>

        <!-- bool -->
        <div *ngSwitchCase="'b'">
          <input type="checkbox" [id]="path"
            [ngModel]="editValue"
            (input)="onUserInput(path, $event.target.checked)"
            (change)="onUserChange(path, $event.target.checked)" />
        </div>

        <ng-template ngSwitchDefault>Unknown param type ({{type}}) for param: {{path}}</ng-template>
      </div>
    </div>
  </div>
</div>
